<div>
	<el-col :span='24' class='toolbar' style='margin-top:0;'>
			<el-form :inline="true">
				<el-form-item label='检索：'>
					<el-input style='width' v-model="value1" placeholder="接口名称" suffix-icon="el-icon-search" @change="selectValue1"></el-input>
				</el-form-item>
				
				<el-select v-model="value2" placeholder="所属业务系统" @change="selectValue2">
    				<el-option :value="''">全部</el-option>
    				<el-option
      					v-for="item in yewu"
      					:key="item.id"
      					:label="item.appname"
      					:value="item.appname">
    				</el-option>
  				</el-select>
				
				<el-select v-model="value3" placeholder="审批状态" @change="selectValue3" style="width:120px;">
    				<el-option :value="''">全部</el-option>
    				<el-option value='0' label='未授权'>未授权</el-option>
    				<el-option value="1" label='已授权'>已授权</el-option>
    				<el-option value="2" label='待审批'>待审批</el-option>    					
  				</el-select>
  				
  				<el-button type='primary' @click='plsq' :disabled="duoxuan">批量申请</el-button>
  				<el-form-item label='token：' style='float:right'>{{SYSCONFIG.token}}</el-form-item>
			</el-form>
	</el-col>
	<el-table :data="list" highlight-current-row :loading="listLoading" style="width: 100%;" @selection-change="handleSelectionChange">
			<el-table-column type="expand">
      			<template scope="props">
        			<el-form label-position="left">
        				<h5 style="font-size: 15px; color: rgb(34, 150, 255); margin: 15px 0px;">接口发布信息</h5>
            			<p style='margin: 0 0;'>接口名称：{{ props.row.servicename }}</p>
          				<p style='margin: 0 0;'>接口地址：{{ props.row.path }}</p>
          				<p style='margin: 0 0;'>接口说明：{{ props.row.remark }}</p>
          				<p style='margin: 0 0;'>请求方式：{{ props.row.request_type }}</p>
          				<p style='margin: 0 0;'>申请审批状态：
          					<span v-if="( props.row.askstatus == '1')">已授权</span>
          					<span v-else-if="( props.row.askstatus == '2')">待审批</span>
          					<span v-else>待申请</span>
          				</p>
          				<div style='width:80%'>
          					<p style='margin: 0 0;'>请求参数：</p>
          					<div style='margin-left:55px;'>
								<el-table :data="props.row.params" border highlight-current-row :loading="listLoading" style="width: 100%;min-height:0px;">
									<el-table-column prop="param" label="参数名" align='center'></el-table-column>
									<el-table-column prop="param_remark" label="参数说明" align='center'></el-table-column>
									<el-table-column prop="param_type" label="取值类型" align='center'></el-table-column>
									<el-table-column prop="param_sample" label="取值示例" align='center'></el-table-column>
								</el-table>
							</div>
          				</div>
          				<p style='margin: 0 0;'>响应格式：{{ props.row.response_type }}</p>
          				<div style='width:80%'>
          					<p style='margin: 0 0;'>响应示例：</p>
          					<div style="margin-left: 55px; padding: 15px; background: rgb(249, 243, 225);">
          						<pre>{{ props.row.response_sample }}</pre>
          					</div>
          				</div>
          				<p style='margin: 0 0;'>缓存有效期：{{ props.row.cache_effective }}分钟</p>
          				<h5 style="font-size: 15px; color: rgb(34, 150, 255); margin: 15px 0px;">接口来源信息</h5>
          				<p style='margin: 0 0;'>注册时间：{{ props.row.regtm }}</p>
          				<p style='margin: 0 0;'>来源应用：{{ props.row.appname }}</p>
          				<div>
          					服务地址：{{ props.row.from_url }}
          				</div>
          				<p style='margin: 0 0;'>请求方式：{{ props.row.from_request_type }}</p>
        			</el-form>
      			</template>
    		</el-table-column>
    		<el-table-column type="selection" width="55"> </el-table-column>
			<el-table-column type="index" width="60"></el-table-column>
			<el-table-column prop="servicename" label="接口名称" sortable align='center'></el-table-column>
			<el-table-column prop="path" label="path" align='center'></el-table-column>
			<el-table-column prop="appname" label="业务系统" align='center'></el-table-column>
			<el-table-column prop="askstatus" label="操作" align='center'>
				<template scope="scope">
              		<span v-if="(scope.row.askstatus == '1')">
                		<el-button size="mini" disabled>已授权</el-button>
              		</span>
              		<span v-else-if="(scope.row.askstatus == '2')">
                		<el-button size="mini" disabled>待审批</el-button>
              		</span>
              		<span v-else="(scope.row.askstatus =='0')">
                		<el-button size="mini" plain type='primary'>申请</el-button>
              		</span>
            	</template>
			</el-table-column>
	</el-table>
</div>