<div>
	<el-col :span='24' class='toolbar' style='margin-top:0;'>
			<el-form :inline="true">
				<el-form-item label='检索：'>
					<el-input v-model="value1" placeholder="接口名称" suffix-icon="el-icon-search" @change="selectValue1"></el-input>
				</el-form-item>
				
				<el-form-item label='业务系统：' style=''>
					<el-select v-model="value2" placeholder="业务系统" @change="selectValue2">
    					<el-option :value="''">全部</el-option>
    					<el-option
      						v-for="item in yewu"
      						:key="item.id"
      						:label="item.appname"
      						:value="item.appname">
    					</el-option>
  					</el-select>
				</el-form-item>
				
				<el-form-item label='接口状态：' style=''>
					<el-select v-model="value3" placeholder="接口状态" @change="selectValue3">
    					<el-option :value="''">全部</el-option>
    					<el-option :value='null' label='-'>-</el-option>
    					<el-option value="1" label='正常'>正常</el-option>
    					<el-option value="0" label='异常'>异常</el-option>    					
  					</el-select>
				</el-form-item>
			</el-form>
	</el-col>
	<el-table :data="list" highlight-current-row border :loading="listLoading" style="width: 100%;">
			<el-table-column type="index" width="60" align='center'></el-table-column>
			<el-table-column prop="servicename" label="接口名称" sortable align='center'></el-table-column>
			<el-table-column prop="appname" label="业务系统" align='center'></el-table-column>
			<el-table-column prop="res_status" label="接口状态" align='center'>
				<template scope="scope">
              		<span v-if="(scope.row.res_status === '1')">
                		<div style="position: absolute;top:50%;left:37%;margin-top:-6px;width: 10px;height: 10px;border-radius: 50%;background: rgb(22, 132, 231);"></div>
                		<span>正常</span>
              		</span>
              		<span v-else-if="(scope.row.res_status === '0')">
             	 		<div style="position: absolute;top:50%;left:37%;margin-top:-6px;width: 10px;height: 10px;border-radius: 50%;background: rgb(235, 51, 46);"></div>
                		<span>异常</span>
              		</span>
              		<span v-else>
              			<div style="position: absolute;top:50%;left:37%;margin-top:-6px;width: 10px;height: 10px;border-radius: 50%;background: #000;"></div>
                		<span>未知</span>
              		</span>
            	</template>
			</el-table-column>
			<el-table-column prop="last_cache_tm" label="缓存状态" align='center' width="300"></el-table-column>
			<el-table-column prop="berequest_count" label="调用次数" align='center'></el-table-column>
	</el-table>
</div>