<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>htbus</display-name>
  <session-config>
    <session-timeout>180</session-timeout>
  </session-config>
  <listener>
    <listener-class>cn.miao.framework.servlet.ContextListener</listener-class>
  </listener>
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>htbus.filter.CORSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>cn.miao.framework.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
    <init-param>
      <param-name>ignore</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>cn.miao.framework.filter.AuthenticationFilter</filter-class>
  </filter>
  <filter>
    <filter-name>interceptor</filter-name>
    <filter-class>cn.miao.framework.filter.DispatchFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>interceptor</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>cn.miao.framework.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/service/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPDFServlet</servlet-name>
    <servlet-class>net.htwater.helper.servlet.GetPDFServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPDFServlet</servlet-name>
    <url-pattern>/servlet/GetPDFServlet</url-pattern>
  </servlet-mapping>
  <!-- <servlet>
    <display-name>Quartz Initializer Servlet</display-name>
    <servlet-name>QuartzInitializer</servlet-name>
    <servlet-class>
	         org.quartz.ee.servlet.QuartzInitializerServlet
	     </servlet-class>
    <init-param>
      <param-name>config-file</param-name>
      <param-value>/quartz.properties</param-value>
    </init-param>
    <init-param>
      <param-name>shutdown-on-unload</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>wait-on-shutdown</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>start-scheduler-on-load</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet> -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/error.html</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>ApiServlet</display-name>
    <servlet-name>ApiServlet</servlet-name>
    <servlet-class>htbus.servlet.ApiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApiServlet</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
    <servlet>
    <display-name>Quartz Initializer Servlet</display-name>
    <servlet-name>QuartzInitializer</servlet-name>
    <servlet-class>
	         org.quartz.ee.servlet.QuartzInitializerServlet
	     </servlet-class>
    <init-param>
      <param-name>config-file</param-name>
      <param-value>/quartz.properties</param-value>
    </init-param>
    <init-param>
      <param-name>shutdown-on-unload</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>wait-on-shutdown</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>start-scheduler-on-load</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
<!--    <servlet>
		<servlet-name>WebSocket</servlet-name>
		<servlet-class>MyWebSocket</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WebSocket</servlet-name>
		<url-pattern>/websocket/*</url-pattern>
	</servlet-mapping> -->
  <!-- <servlet>
    <description></description>
    <display-name>postservlet</display-name>
    <servlet-name>postservlet</servlet-name>
    <servlet-class>htbus.servlet.postservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postservlet</servlet-name>
    <url-pattern>/post</url-pattern>
  </servlet-mapping> -->
  <listener>
    <listener-class>htbus.servlet.TimerListener</listener-class>
  </listener>
</web-app>